@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(https://images.pexels.com/photos/4060936/pexels-photo-4060936.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-family:  "Open Sans";
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 0;
}

.logo{
    font-family: "Lugrasimo";
    font-size: 40px;
    cursor: pointer;
}

.navmenu>ul{
    display: flex;
    align-items: center;
    list-style-type: none;
}

.navmenu li{
    font-size: 20px;
    padding: 0 10px;
    cursor: pointer;
}

.main{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px 0;
}

.image{
    background-image: url(https://images.pexels.com/photos/933255/pexels-photo-933255.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    width: 500px;
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 30px;
}

.content{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 500px;
    align-items: start;
    justify-content: center;
}

.content :nth-child(1){
    font-size: 60px;
    padding: 8px 0;
}

.content :nth-child(2){
    font-size: 22px;
    padding: 8px 0;
    color: orange;
}

.content :nth-child(3){
    font-size: 18x;
    padding: 8px 0;
}

button{
    font-size: 16px;
    border-radius: 18px;
    padding: 10px 20px;
    background-color: orange;
    font-weight: bold;
    color: white;
    cursor: pointer;
}